.titulo-principal{
    font-family:"Josefin Slab";
	font-size: 70px;
	text-align: center;
    color: #FFF;
    background-color:rgba(18, 71, 123);
    padding: 180px;
    border-bottom: 0.1rem solid transparent;
}
footer {
    background-color:black;
    color:#FFF;
    padding: 2em;
}
footer h2 {
    font-size: 2em;
}
footer a {
    color: rgba(18, 71, 123);
}